.category-icon-grid {
    display: flex;
    justify-content: center; /* Center icons horizontally */
    align-items: center; /* Center icons vertically */
    flex-wrap: wrap; /* Allow wrapping if there are too many icons */
    gap: 2rem; /* Add spacing between icons */
    padding: 0 2rem 4rem 2rem;
}

.category-icon {
    display: flex;
    flex-direction: column; /* Stack image and title vertically */
    align-items: center; /* Center image and title horizontally */
    text-decoration: none; /* Remove underline from links */
    color: black; 
    font-family: "Londrina Solid", sans-serif;
    font-size: 20px;
    font-weight: 300;
    transition: transform 0.3s ease;
} 

.category-icon:hover {
    transform: scale(1.1); 
    color: var(--hover-color);
}

.category-icon img {
    width: 100px; /* Set a fixed width for the images */
    height: 100px; /* Set a fixed height for the images */
    object-fit: cover; /* Ensure the image fits within the dimensions */
    margin-bottom: 0.5rem; /* Add spacing between the image and title */
}

.category-tooltip {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.1);
    font-family: "DM Sans", sans-serif;
    opacity: 0.9;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 0.8rem;
    width: 180px;
    text-align: center;
    z-index: 100;
    color: black;
  }
  
  .category-icon:hover .category-tooltip {
    display: block;
  }