@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Londrina+Solid:wght@300;400;700&display=swap');


body {
    background-color: #ECE9F1;
    font-family: "DM Sans", sans-serif; 
    margin: 0; 
    padding: 0; 
  }

  #root {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  html {
    overflow-x: clip;
    margin: 0;
    padding: 0;
  }
  
  h1{ 
    text-align: center;
    font-family: "Londrina Solid", sans-serif;
    font-size: 60px;
    line-height: 1.15; 
    margin-bottom: 0; 
  }


  
  h2{
    text-align: center;
    font-family: "Londrina Solid", sans-serif;
    font-size: 32px;
    font-weight: 300; 
  }

    .sec_title{ 
        margin: 0;
    }


  
  h3 {
    text-align: center;
    font-family: "Londrina Solid", sans-serif;
    font-size: 24px;
    font-weight: 300;
  }

  h4 {
    text-align: center;
    font-family: "Londrina Solid", sans-serif;
    font-size: 20px;
    font-weight: 300;
  }

/* Audio Box Styling */
    .audio-box{ 
      color: white; 
      background:#A390C2; 
      border: 2px solid rgb(130, 114, 154);
      padding: 0.5rem; 
      max-width: 20%;
      border-radius: 8px;
      margin: 0 auto; 
      transition: transform 0.2s ease, background-color 0.2s ease;
    }

    .audio-box:hover{ 
      background: rgb(130, 114, 154);
      transform: scale(1.03);
    }

    .audio-box-link{ 
      text-decoration: none;
    }


  p {
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
  }

  
  #from-the-editor{
      margin-bottom: 4rem;
    }

  #methodology{
    margin-bottom: 8rem;
  }

  /* so the navbar doesn't cover section titles when you click on the links */
  #from-the-editor, #methodology, #more {
    scroll-margin-top: 70px;
}
#home {
  scroll-margin-top: 90px;
}